# Every change requires review by the repository owner, including Dependabot PRs.
# https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @s4ndr0ne
